.card_container {
  height: fit-content;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #292929;
  color: white;
  padding-bottom: 2%;
}
.title_top {
  text-align: center;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 8px;
  padding-inline-start: 0;
}
.card_content {
  list-style-type: disc;
  margin-bottom: 8px;
  text-align: left;
  padding: 10% 0 10% 10%;
}
.li_single_item{
  list-style-type: none;
}

.basic_button {
  width: 48px;
  height: 24px;
  background-color: #292929;
  cursor: pointer;
  border-style: solid;
  border-color: #01ffc3;
  color: #01ffc3;
  text-decoration: none;
  text-align: center;
  padding: 2px;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card_container {
    width: 250px;
  }
  .card_content {
    font-size: initial;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1220px) {
  .card_container {
    width: 280px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .card_container {
    width: 380px;
  }

  .card_content {
    font-size: x-large;
  }

  .basic_button {
    width: 96px;
    height: 48px;
    font-size: x-large;
  }
}
