.card_list {
  background-color: #181818;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 4vw;
  list-style-position: inside;
  padding-bottom: 21%;
}

.header_content {
  display: flex;
  align-items: center;
  background-color: #181818;
  padding-top: 7%;
  padding-bottom: 9%;
}

.left_top_line {
  flex-grow: 1;
}

.right_top_line {
  flex-grow: 20;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card_list {
    padding-inline: 16%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .card_list {
    padding-inline: 16%;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}
