.card_container {
  height: fit-content;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #292929;
  color: white;
  padding-bottom: 2%;
}
.title_top {
  text-align: center;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 8px;
}
.card_content {
  list-style-type: disc;
  margin-bottom: 8px;
  text-align: center;
  padding: 10% 0 10% 1%;
}

.basic_button {
  width: 48px;
  height: 24px;
  background-color: #292929;
  cursor: pointer;
  border-style: solid;
  border-color: #01ffc3;
  color: #01ffc3;
  text-decoration: none;
  text-align: center;
  padding: 2px;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
}
