.intro {
  background: url(/src/Images/IntroductionBackgroundImage.png) no-repeat;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.intro_title {
    text-align: left;
    margin-top: 11%;
    margin-left: 8%;
    font-weight: 400;
    word-break: break-word;
    margin-right: 35%;
    font-size: xx-large;
    padding-bottom: 4%;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .intro_title{
    font-size: x-large;
  }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */

}
