.outro {
  background: url(./Images/outro_background.png) no-repeat;
  background-size: cover;
}

.title_top {
  color: rgba(1, 255, 195, 1);
}

hr {
  color: white;
  background-color: white;
  height: 2px;
  border: none;
}
.left_top_line {
  flex-grow: 1;
}

.right_top_line {
  flex-grow: 20;
}

.title_top {
  margin-left: 2%;
  margin-right: 2%;
  font-size: xx-large;
}
.footer_content {
  display: flex;
  align-items: center;
  background-color: #181818;
  padding-top: 4%;
}
.content_container_outro {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 13%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . portrait" "content_outro content_outro portrait" ". . portrait";
}

.portrait {
  background: url(./Images/profile.png) no-repeat;
  height: 20vw;
  background-size: contain;
  grid-area: portrait;
}
.content_outro {
  background-color: #292929;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: content_outro;
}
.buttons_container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
  padding: 0 1% 10% 0;
}

.button {
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
  background-position: bottom;
}
.button_email {
  background-image: url(./Images/emailButton.png);
}

.button_git {
  background-image: url(./Images/gitIconButton.png);
}

.button_linkenin {
  background-image: url(./Images/linkedinButton.png);
}
.end_message {
  word-wrap: break-word;
  color: white;
  font-size: medium;
  padding: 5% 0% 5% 0%;
}
.content_something {
  text-align: center;
  line-height: 4vw;
}
